body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root{
    --body-color:#efefef;
    --nav-color: rgb(81, 0, 255);
    --bg-color:#fff;
    --text-color:#504f4f;
    
}

.dark-mode{
    --body-color:#0a0a0a;
    --nav-color:#000;
    --bg-color:#000;
    --text-color:white;
}


.container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 2em;
  gap: 1em;
}
.main-side {

  min-height: 100vh;
  border-radius: 0.5em;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--nav-color);
    padding:5px 5%;
    position:sticky;
    top: 0;
}
.left-nav{
    display:flex;
    align-items: center;
    
}

.logo{
    width:150px;
    margin-right:40px;
}

.left-nav ul li{
    list-style: none;
    display: inline-block;
}

.left-nav ul li img{
    width:25px;
    margin:0 15px;
}

.right-nav{
    display: flex;
    align-items: center;
}

.nav-users-icon img{
    width:40px;
    border-radius: 50%;
  
}
.nav-users-icon{
    margin-left: 10px;
}
.search-box{
    display: flex;
    align-items: center;
    background-color:var(--bg-color) ;
    border-radius:20px;
    padding:0 15px;
    width:305px;
   

}
.search-box img{
    width:18px;
}
.search-box input{
    padding:10px;
    width:100%;
    border-width: 0px;
    background-color: var(--bg-color);
    outline: none;
}
 .online{ 
    position: relative;
 }

.online::after{
    content: '';
    height:7px;
    width:7px;
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    background-color:green;
    position:absolute;
    top:0;
    right:0;
    
}
.profile-settings{
    display: none;
}

/*-------------------------container----------------------------*/

.container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 2em;
    gap: 1em;
  }
.left-side {
}
.left-side .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(237, 237, 237);
  border-radius: 0.5em;
  padding: 1em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.left-side .profile img {
  border-radius: 50%;
}

/*-------------------------main----------------------------*/
.posting-section{
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding:20px 22px;

}
.profile-user{
    display: flex;
    align-items: center;
}
.profile-user img{
    height:45px;
    width:45px;
    border-radius: 50%;
    margin-right:10px;
}
.profile-user p{
    color: #393838;
    font-size: 12px;
    margin-top: 3px;
}
.profile-user select{
    background-color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
}
.post-text{
    margin-bottom: 20px;
}

.post-text input{
    background-color:var(--bg-color);
    border: none;
    border-bottom: 2px solid  #e8e8e8;
    height:70px;
    width:100%;
    outline: none;
  

}
.post-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-icons a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: bold;
    padding:7px 7px;
    border-radius: 10px;
    cursor: pointer;
    
}
.post-icons a:hover{
    background-color: #e8e8e8;
}
.post-icons a img{
    width:20px;
    margin-right:10px;
}

/*-------------------left side ---------------------------*/

.left-sidebar{
    flex-basis: 25%;
    height:auto;
    align-self: flex-start;
    
   
}
.important-links a{
    display: flex;
    align-items: center;
    text-decoration: none;
  
    font-weight: 600;
    color: #626262;
 
    margin-bottom:13px ;
    font-size: 15px;
    border-radius: 7px;
    padding:10px 15px;
    cursor: pointer;
}
.important-links a:hover{
    background-color: #e8e8e8;
}
.important-links a:nth-child(6){
    margin-top: 60px;
    color:var(--nav-color);
}

.important-links a img{
    width: 25px;
    margin-right: 10px;

}
.important-links{
    border-bottom: 2px solid  #cdcdcd;
}



/*-------------------feed ---------------------------*/


.feed{
    margin-top: 2em;
    background-color:rgb(237, 237, 237);
    border-radius: 0.5em;
 
 
    padding:1em 1em;
   
}
.feed p:nth-child(2){
    color:#227FF5;
   

}
.feed-description{
    margin-top: 1.2em;
    border-left: 2px solid #272727;
    margin-left: 2em;
    
}
.feed-description p{
    color:var(--text-color);
    margin-bottom: 1.2em;
    padding-left: 1em;
  
   

}

.like-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0em 1em;

}
.like-section .profile-liked{
    margin-left: 1em;
}
.like-section .profile-liked img{
    width:30px;
    border-radius: 50%;
    margin-left:-1em ;
    border: 2px solid white;
}
.like-section img{
    width:30px;
}

.likes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.likes i{
    margin-right: 0.5em;
}



